@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100px;

    background-color: rgba(255, 255, 255, .20);

    border: 1px solid   rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
     color: white;
    font-family: 'Tilt Prism', cursive;
}
.header-logo-ceep{
    height: 50%;
}

footer{
    height: 200px;
    background-color: rgb(46, 111, 231);
}
.conteiner-footer-itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.social{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}
.social ul li{
    display: inline;
    margin-left: 25px;
    margin-right: 5px;
}

body {
    font-family: 'Tilt Prism', cursive;
    background-color: aqua;
}