*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: orange;
}
.header-ceep{
    height: 130px;
}

footer{
    height: 200px;
    background-color: rgb(46, 111, 231);
}
.conteiner-footer-itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.social{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}
.social ul li{
    display: inline;
    margin-left: 25px;
    margin-right: 5px;
}